<form action="/add-simplonien" method="POST">
    <label for="name">name</label>
    <input type="text" name="name"  id="name">

    <label for="">email</label>
    <input type="email" name="email" id="email">

    <label for="langage">favorite-langage</label>
    <input type="text" name="langage" id="langage">


    <button>go</button>
</form>